[Unit]
Description=Event service for Beward DS intercom syslog messages
Documentation=https://github.com/rosteleset/SmartYard-Server/tree/main/install
After=network.target

[Service]
SyslogIdentifier=event_beward_ds
Type=simple
WorkingDirectory=/opt/rbt/server/services/event/
ExecStart=/usr/bin/node /opt/rbt/server/services/event/index.js beward_ds
RestartSec=10
Restart=always
User=rbt
Group=rbt
LimitCORE=infinity
KillMode=process
StandardOutput=null
#StandardOutput=append:/var/log/event_service/event_beward_ds.log
StandardError=append:/var/log/event_service/event_beward_ds.error.log

[Install]
WantedBy=multi-user.target
