[Unit]
Description=Event service for Rubetek intercom syslog messages
Documentation=https://github.com/rosteleset/SmartYard-Server/tree/main/install
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/rbt/server/syslog/
ExecStart=/usr/bin/node /opt/rbt/services/event/index.js rubetek
RestartSec=10
Restart=always
User=rbt
Group=rbt
LimitCORE=infinity
KillMode=process
#StandardOutput=file:/var/log/event_service/event_rubetek.log
StandardError=file:/var/log/event_service/event_rubetek.error.log

[Install]
WantedBy=multi-user.target
