[Unit]
Description=Event service for Soyuz intercom syslog messages
Documentation=https://github.com/rosteleset/SmartYard-Server/tree/main/install
After=network.target

[Service]
SyslogIdentifier=event_soyuz
Type=simple
WorkingDirectory=/opt/rbt/server/services/event/
ExecStart=/usr/bin/node /opt/rbt/server/services/event/index.js soyuz
RestartSec=10
Restart=always
User=rbt
Group=rbt
LimitCORE=infinity
KillMode=process
#StandardOutput=null
StandardOutput=append:/var/log/event_service/event_soyuz.log
StandardError=append:/var/log/event_service/event_soyuz.error.log

[Install]
WantedBy=multi-user.target
