**/node_modules
**/.idea
.phpdoc
.eslintrc.yml
.eslintrc.js
jsconfig.json
RBT/RBT.xcodeproj/
/api/
/client/lib/
/client/lib/AdminLTE/
/client/lib/qrcodejs/
/client/lib/loading-bar/
/client/lib/ace-builds/
/server/lib/PHPMailer/
/server/lib/htmlpurifier/
/server/lib/parsedown/
/server/db/mongo/
/server/storage/
/server/services/nodejs
/server/mzfc/mongodb/
/server/backends/**/custom
/server/backends/**/custom/
/server/backends/**/custom/**
/server/backends/**/custom/*
/server/api/**/custom
/server/api/**/custom/
/server/api/**/custom/**
/server/api/**/custom/*
/client/modules/custom
/client/modules/custom/*
/client/modules/custom/**
/client/modules/**/custom
/client/modules/**/custom/
/client/modules/**/custom/**
/client/modules/**/custom/*
/client/custom.html
.cache
.config
.fontconfig
.local
.mc
.ssh
.subversion
.bash_history
*.apk
.vscode
.release
__pycache__
/package.json
/package-lock.json
/client/config/config.json
/client/config/config.yml
/server/db/backup/*
/server/db/internal.db
/server/config/config.json
/server/config/config.yml
/server/vendor
/.stylelintrc.json
package.json
package-lock.json
/server/test.php
/server/integration.php
/server/mqtt/node_modules
/server/mqtt/package.json
/server/mqtt/package-lock.json
/install/asterisk/config.lua
/install/asterisk/extconfig.conf
/server/services/syslog/config.json
!/server/services/syslog/package.json
/server/services/push/assets/pushServiceAccountKey.json
/server/services/push/assets/certificate-and-privatekey.pem
/server/services/push/.env
/server/services/push/.env_development
!/server/services/push/package.json
!/server/services/ami/package.json
!/server/services/mqtt/package.json
!/server/services/intercom_provision/package.json
!/server/services/event/package.json
/server/services/event/config.json
install/kamailio/kamailio-local.cfg
install/kamailio/kamctlrc
static/portal
static/portal/*
static/portal/**