**/node_modules
**/.idea
.cache
.config
.fontconfig
.local
.mc
.ssh
.subversion
.bash_history
*.apk
.vscode
__pycache__
.phpdoc
/client/lib/AdminLTE/
/client/lib/qrcodejs/
/server/lib/PHPMailer/
/server/db/internal.db
/server/config/config.json
/api/
/doc/
