@charset "UTF-8";

body {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll !important;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

body:not(.dark-mode) .nodec:link {
  text-decoration: none;
  color: black;
}

body.dark-mode .nodec:link {
  text-decoration: none;
  color: white;
}

body:not(.dark-mode) .nodec:visited {
  text-decoration: none;
  color: black;
}

body.dark-mode .nodec:visited {
  text-decoration: none;
  color: white;
}

body:not(.dark-mode) .nodec:active {
  text-decoration: none;
  color: black;
}

body.dark-mode .nodec:active {
  text-decoration: none;
  color: white;
}

body:not(.dark-mode) .nodec:hover {
  text-decoration: underline;
  color: black;
}

body.dark-mode .nodec:hover {
  text-decoration: underline;
  color: white;
}

::-webkit-scrollbar {
  background: lightgray;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

#toast-container > div {
  opacity: 1;
  filter: progid:dximagetransform.microsoft.alpha(opacity=100);
  filter: alpha(opacity=100);
}

.toast-warning > .toast-message {
  color: black;
}

.toast-warning > .toast-title {
  color: black;
}

.direct-chat-text-secondary::after {
  content: none !important;
  display: none;
}

.direct-chat-text-secondary::before {
  content: none !important;
  display: none;
}

@font-face {
  font-family: Peignot;
  src: url(../ttf/peignot.ttf);
}

.centre-of-all {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  padding: 15px !important;
  transform: translate(-50%, -50%) !important;
}

.hoverable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.pointer-input-group:hover {
  cursor: pointer;
  background-color: #e9ecef !important;
}

.pointer-input-group {
  background-color: #f8f9fa;
}

.tdform-top {
  vertical-align: top !important;
  white-space: nowrap !important;
}

.tdform {
  vertical-align: middle !important;
  white-space: nowrap !important;
}

.tdform-right {
  vertical-align: middle !important;
  white-space: nowrap !important;
  width: 100% !important;
}

.tform-borderless > tbody > tr:first-child > td {
  border-bottom: none !important;
}

.tform-borderless > tbody > tr:last-child > td {
  border-top: none !important;
}

.tform-borderless > tbody > tr:not(:first-child):not(:last-child) > td {
  border-top: none !important;
  border-bottom: none !important;
}

.dropdown-toggle-no-icon::after {
  display: none;
}

select {
  appearance: none;
}

.select-arrow {
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' width='20' height='20' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 4px;
}

.opacity-disabled {
  opacity: 0.2;
}

.tdform-right > .note-editor {
  margin-bottom: 0;
  box-shadow: none;
}

.btn-tool-rbt-left {
  font-size: 0.875rem !important;
  margin: -0.75rem 0;
}

.btn-tool-rbt-right {
  font-size: 0.875rem !important;
  margin: -0.15rem 0 -0.75rem;
}

.ldBar-label {
  font-size: 24pt;
  font-weight: bold;
  font-family: Verdana, serif;
}

.modal-backdrop {
  background-color: gray;
}

.note-statusbar {
  display: none;
}

#toast-container .toast-warning {
  background-color: #d4ac0d;
}

.cut-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.border-color-invalid {
  border-color: #dc3435 !important;
}

.no-border-top {
  border-top: none !important;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: left;
  height: 1.5em;
  font-size: 11pt;
}

.hr-text::before {
  content: "";
  background: linear-gradient(to left, transparent, rgb(128 128 128 / 75%));
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  opacity: 0.5;
}

.hr-text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding-left: 0;
  padding-right: 0.5em;
  line-height: 1.5em;
  color: #17a2b8 !important;
  font-weight: bold;
  background-color: #f4f6f9;
  opacity: 1 !important;
}

.hr-text-pointer {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: left;
  height: 1.5em;
  font-size: 11pt;
}

.hr-text-pointer::before {
  content: "";
  background: linear-gradient(to left, transparent, rgb(128 128 128 / 75%));
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  opacity: 0.5;
}

.hr-text-pointer::after {
  content: attr(data-content);
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-left: 0;
  padding-right: 0.5em;
  line-height: 1.5em;
  color: #17a2b8 !important;
  font-weight: bold;
  background-color: #f4f6f9;
  opacity: 1 !important;
}

.hr-text-white {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: left;
  height: 1.5em;
  opacity: 0.5;
  font-size: 8pt;
}

.hr-text-white::before {
  content: "";
  background: linear-gradient(to left, transparent, rgb(128 128 128 / 75%));
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text-white::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding-left: 12px;
  padding-right: 10px;
  line-height: 1.5em;
  color: #000;
  background-color: white;
}

.hr-text-white-large {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: left;
  height: 1.5em;
  font-size: 11pt;
}

.hr-text-white-large::before {
  content: "";
  background: linear-gradient(to left, transparent, rgb(128 128 128 / 75%));
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  opacity: 0.5;
}

.hr-text-white-large::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding-left: 0;
  padding-right: 0.5em;
  line-height: 1.5em;
  color: #17a2b8 !important;
  font-weight: bold;
  background-color: #ffffff;
  opacity: 1 !important;
}

body.dark-mode .hr-text::after .hr-text-white::after .hr-text-pointer::after hr-text-white-large::after {
  background-color: #454d55;
}

.nav-item-back-hover:hover {
  background: #ccc;
  border-radius: 4px;
}

.nav-item-back-selected {
  cursor: default;
  color: #0056b3 !important;
}

.nav-item-back-selected:hover {
  cursor: default;
  color: #0056b3 !important;
}

.ace-editor {
  margin: 0;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.back-to-top {
  bottom: 2.25rem;
  right: 5.25rem;
  opacity: 0.5;
}

.back-to-top:hover {
  opacity: 1;
}

.tr-hoverable:hover {
  background: #ccc !important;
}

.td-journal {
  font-size: 14px;
  vertical-align: top;
}

.nowrap {
  white-space: nowrap !important;
}

.bg-lightgray, .bg-lightgray > a {
  color: #0000 !important;
}

.bg-lightgray {
  background-color: #cfcfcf !important;
}

.spinner-small {
  background-image:url('../img/spinnerSmall.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.select2-container--open {
  z-index: 9999999 !important;
}

.select2-invalid > span.select2 > span.selection > span.select2-selection {
  border-color: #dc3435 !important;
}

.select2-results__option.loading-results, .select2-results__option.select2-results__option--load-more {
  background-image: url('../img/spinnerSmall.svg');
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: 10px 50%;
  background-size: 18px;
}

.select2-selection {
  overflow: hidden;
}

.select2-selection__rendered {
  white-space: normal;
  word-break: break-all;
  width: 100%!important;
}

.select2-selection__rendered span {
  white-space: normal;
  word-break: break-all;
  width: 100%!important;
}

.select2-selection__rendered span[role="presentation"] {
  width: auto!important;
}

.select2-selection__choice__remove {
  width: auto!important;
  display: none!important;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.text-decoration-underline {
  text-decoration: underline;
}

.dropdown-menu .dropdown-menu {
	top: auto;
	left: 100%;
	transform: translateY(-2rem);
}

.dropdown-item + .dropdown-menu {
	display: none;
}

.dropdown-item.submenu::after {
	content: '▸';
  text-align: right;
  float: right;
}

.dropdown-item.nomenu::after {
	content: '▸';
  text-align: right;
  float: right;
  color: transparent;
}

.dropdown-item:hover + .dropdown-menu, .dropdown-menu:hover {
	display: block;
}

.data-login {
  position: relative;
}

.data-login::after {
  content: attr(data-login-display);
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 0px;
  padding-right: 3px;
  font-size: small;
  white-space: pre-wrap;
  text-align: right;
}

.datatable {
  margin: 2px 0; border-collapse: collapse;
}

.datatable td {
  border: 1px solid #dbdbdb; padding: 3px; text-align: left;
}

.datatable th {
  padding: 3px; text-align: left; cursor: default;
}

[data-toggle="collapse"] .fa:before {
  content: "\f0d7";
  padding-right: 3px;
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f0da";
  padding-right: 3px;
}

.status-container {
  min-width: 75px;
}

.status-indicator {
  margin-top: 5px;
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: start;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-tooltip {
  visibility: hidden;
  background-color: black;
  padding: 5px;
  color: whitesmoke;
  text-wrap: inherit;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  left: 110%;
  top: -50%;
}

.status-indicator:hover .status-tooltip {
  visibility: visible;
  opacity: 1;
}

.status-ok {
  background-color: green;
}

.status-offline {
  background-color: red;
}

.status-sip-failure {
  background-color: orange;
}

.status-disabled {
  background-color: mediumpurple;
}

.status-unknown {
  background-color: darkgrey;
}

.status-dvr-err {
  background-color: deeppink;
}

.status-other-error {
  background-color: deepskyblue;
}

.top-input {
  width: 200px!important;
}

.drag {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sticky {
  -moz-box-shadow: 2px 2px 2px #696969;
  -webkit-box-shadow: 2px 2px 2px #696969;
  box-shadow: 2px 2px 2px #696969;
  border-radius: 5px;
  border: solid thin gray;
  display: inline-block;
  padding: 1rem;
  position: absolute;
  min-width: 12.5rem;
}

.sticky .caption {
  pointer-events: none;
}

.sticky .body {
  margin: 0;
  min-height: 9rem;
  overflow-y: auto;
  max-height: 400px;
  pointer-events: all;
  -webkit-touch-callout: unset;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.sticky .body a {
  pointer-events: all;
}

.sticky .editSticky {
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
  background: #3d9970;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding-top: 7px;
  padding-left: 3px;
}

.sticky .reminder {
  font-size: 0.75rem;
  position: absolute;
  right: 0.25rem;
  top: 0.35rem;
  pointer-events: none;
}

.sortable-list-noborder-input {
  border: none;
  display: initial;
  width: 100%;
}

.sortable-list-noborder-input:hover {
  border: none;
  display: initial;
  width: 100%;
}

.sortable-list-noborder-input:focus {
  border: none;
  outline: none;
  display: initial;
  width: 100%;
}

.sortable-list-noborder-table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.sortable-list-noborder-table td {
  border: none;
  padding-left: 0!important;
  padding-right: 0!important;
  padding-top: 3px!important;
  padding-bottom: 3px!important;
  text-align: left;
  vertical-align: middle;
}

.sortable-list-noborder-frame {
  border: solid thin lightgrey;
  border-radius: 0.25rem;
}

.fa.disabled, .fa[disabled], .disabled > .fa, [disabled] > .fa, .fab.disabled, .fab[disabled], .disabled > .fab, [disabled] > .fab, .fas.disabled, .fas[disabled], .disabled > .fas, [disabled] > .fas, .far.disabled, .far[disabled], .disabled > .far, [disabled] > .far {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.right-top-select {
  background-color: white;
}

.navbar-badge {
  right: 10px;
  top: 5px;
}

.nohover:hover {
  background-color: transparent!important;
}

.cropper-view-box, .cropper-face {
  border-radius: 50%;
}

.cropper-view-box {
  outline: 0;
  box-shadow: 0 0 0 1px #39f;
}

.ellipses-parent {
  display: flex;
}

.ellipses-children {
  flex: 1;
  width: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nopicker::-webkit-calendar-picker-indicator {
  background: transparent;
  color: transparent;
  position: absolute;
  right: 0px;
  height: 0px;
  width: 0px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.dots {
  background-image: radial-gradient(lightgray 1px, transparent 0);
  background-size: 10px 10px;
  background-position: -4px -4px;
}
