@charset "UTF-8";

#toast-container > div {
  opacity: 1;
  filter: progid:dximagetransform.microsoft.alpha(opacity=100);
  filter: alpha(opacity=100);
}

.toast-warning > .toast-message {
  color: black;
}

.toast-warning > .toast-title {
  color: black;
}

.direct-chat-text-secondary::after {
  content: none !important;
  display: none;
}

.direct-chat-text-secondary::before {
  content: none !important;
  display: none;
}

@font-face {
  font-family: Peignot;
  src: url(../ttf/peignot.ttf);
}

.centre-of-all {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  padding: 15px !important;
  transform: translate(-50%, -50%) !important;
}

.hoverable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.pointer-input-group:hover {
  cursor: pointer;
  background-color: #e9ecef!important;
}

.pointer-input-group {
  background-color: #f8f9fa;
}

.tdform-top {
  vertical-align: top !important;
  white-space: nowrap !important;
}

.tdform {
  vertical-align: middle !important;
  white-space: nowrap !important;
}

.tdform-right {
  vertical-align: middle !important;
  white-space: nowrap !important;
  width: 100% !important;
}

.tform-borderless > tbody > tr:first-child > td {
  border-bottom: none !important;
}

.tform-borderless > tbody > tr:last-child > td {
  border-top: none !important;
}

.tform-borderless > tbody > tr:not(:first-child):not(:last-child) > td {
  border-top: none !important;
  border-bottom: none !important;
}

.dropdown-toggle-no-icon::after {
  display: none;
}

select {
  appearance: none;
}

.select-arrow {
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' width='20' height='20' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 4px;
}

.opacity-disabled {
  opacity: 0.2;
}

.tdform-right > .note-editor {
  margin-bottom: 0;
  box-shadow: none;
}

.btn-tool-rbt-left {
  font-size: 0.875rem !important;
  margin: -0.75rem 0;
}

.btn-tool-rbt-right {
  font-size: 0.875rem !important;
  margin: -0.15rem 0 -0.75rem;
}

.ldBar-label {
  font-size: 24pt;
  font-weight: bold;
  font-family: Verdana, serif;
}

.modal-backdrop {
  background-color: transparent;
}

.note-statusbar {
  display: none;
}

#toast-container .toast-warning {
  background-color: #d4ac0d;
}

.cut-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.border-color-invalid {
  border-color: #dc3435 !important;
}

.no-border-top {
  border-top: none !important;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: left;
  height: 1.5em;
  opacity: 0.5;
  font-size: 8pt;
}

.hr-text::before {
  content: "";
  background: linear-gradient(to left, transparent, rgb(128 128 128 / 75%));
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding-left: 0;
  padding-right: 0.5em;
  line-height: 1.5em;
  color: #000;
  background-color: #f4f6f9;
}

.nav-item-back-hover:hover {
  background: #ccc;
  border-radius: 4px;
}

.nav-item-back-selected {
  cursor: default;
  color: #0056b3 !important;
}

.nav-item-back-selected:hover {
  cursor: default;
  color: #0056b3 !important;
}

.ace-editor {
  margin: 0;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar-track {
  background-color: rgba(161, 161, 161, 0);
}

body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgb(0, 0, 255);
  border-radius: 100px;
}

.nodec:link {
  text-decoration: none;
  color: black;
}

.nodec:visited {
  text-decoration: none;
  color: black;
}

.nodec:active {
  text-decoration: none;
  color: black;
}

.nodec:hover {
  text-decoration: underline;
  color: black;
}

.tr-hoverable:hover {
  background: #ccc!important;
}

.td-journal {
  font-size: 14px;
  vertical-align: top;
  white-space: nowrap;
}

.bg-lightgray, .bg-lightgray>a {
  color: #0000!important;
}

.bg-lightgray {
  background-color: #cfcfcf!important;
}

.spinner-small {
  background-image:url('../img/spinnerSmall.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.select2-container--open {
  z-index: 9999999 !important;
}

.select2-invalid > span.select2 > span.selection > span.select2-selection {
  border-color: #dc3435 !important;
}

.select2-results__option.loading-results,
.select2-results__option.select2-results__option--load-more {
  background-image: url('../img/spinnerSmall.svg');
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: 10px 50%;
  background-size: 18px;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.text-decoration-underline {
  text-decoration: underline;
}

.dropdown-menu .dropdown-menu {
	top: auto;
	left: 100%;
	transform: translateY(-2rem);
}

.dropdown-item + .dropdown-menu {
	display: none;
}

.dropdown-item.submenu::after {
	content: '▸';
  text-align: right;
  float: right;
	margin-left: 0.5rem;
}

.dropdown-item.nomenu::after {
	content: '▸';
  text-align: right;
  float: right;
	margin-left: 0.5rem;
  color: transparent;
}

.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
	display: block;
}

.data-login {
  position: relative;
}

.data-login::after {
  content: attr(data-login-display);
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 0px;
  padding-right: 3px;
  font-size: small;
}

.datatable {
  margin: 2px 0; border-collapse: collapse;
}

.datatable td {
  border: 1px solid #dbdbdb; padding: 3px; text-align: left;
}

.datatable th {
  padding: 3px; text-align: left; cursor: default;
}
