[Unit]
Description=HTTP event service for SPUTNIK CLOUD
Documentation=https://github.com/rosteleset/SmartYard-Server/tree/main/install
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/rbt/server/services/syslog/
ExecStart=/usr/bin/node /opt/rbt/server/services/syslog/sputnik.js
RestartSec=10
Restart=always
User=isyslog
Group=isyslog
LimitCORE=infinity
KillMode=process
#StandardOutput=file:/var/log/syslog_intercom/event_intercom_sputnik_cloud.log
StandardError=file:/var/log/syslog_intercom/event_intercom_sputnik_cloud.error.log

[Install]
WantedBy=multi-user.target
