[Unit]
Description=Intercom syslog service for Rubetek
Documentation=https://github.com/rosteleset/SmartYard-Server/tree/main/install
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/rbt/server/syslog/
ExecStart=/usr/bin/node /opt/rbt/services/event/index.js rubetek
RestartSec=10
Restart=always
User=isyslog
Group=isyslog
LimitCORE=infinity
KillMode=process
StandardOutput=file:/var/log/syslog_intercom/syslog_intercom_rubetek.log
StandardError=file:/var/log/syslog_intercom/syslog_intercom_rubetek.error.log

[Install]
WantedBy=multi-user.target
