[Unit]
Description=Intercom syslog service for Beward DS06A
Documentation=https://github.com/rosteleset/SmartYard-Server/tree/main/install
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/rbt/server/syslog/
ExecStart=/usr/bin/node /opt/rbt/server/syslog/beward.js --config=beward_ds
RestartSec=10
Restart=always
User=isyslog
Group=isyslog
LimitCORE=infinity
KillMode=process
StandardOutput=file:/var/log/syslog_intercom/syslog_intercom_beward_ds06a.log
StandardError=file:/var/log/syslog_intercom/syslog_intercom_beward_ds06a.error.log

[Install]
WantedBy=multi-user.target
