# Web server settings
APP_PORT=
APP_HOST=

# Firebase Cloud Messaging (FCM) settings
APP_PROJECT_NAME=
APP_BUNDLE_ID=
APP_USER_AGENT=
APP_DATABASE_NAME=

# Huawei Cloud Messaging (HCM) settings (optional)
HUAWEI_CLIENT_ID=
HUAWEI_CLIENT_SECRET=
HUAWEI_PROJECT_ID=

# Rustore Cloud Messaging (RCM) settings
RUSTORE_PROJECT_ID=
RUSTORE_TOKEN=
