## Sample configuration to set local IPs, hostname etc
## ----- flags
##!define WITH_DEBUG
#!define WITH_AUTH
#!define WITH_IPAUTH
#!define WITH_API_AUTH_TOKEN
#!define WITH_ANTIFLOOD
#!define WITH_RTPENGINE
#!define WITH_NAT
#!define WITH_TLS
#!define WITH_JSONRPC
#!define WITH_WEBSOCKETS

## Public ip address
#!substdef "!KAMAILIO_IP_ADDR_PUBLIC!192.168.168.168!g"

## Interface for trunk to media server (asterisk, freeswitch, etc)
#!substdef "!KAMAILIO_IP_ADDR_LOCAL!127.0.0.1!g"

## Set domain name (optional)
#!substdef "!KAMAILIO_DOMAIN!domain.example!g"

## ----- Listen ports
## ----- SIP | UDP
#!substdef "!KAMAILIO_UDP_PORT!50602!g"

## ----- SIP | TCP
#!substdef "!KAMAILIO_TCP_PORT!50602!g"

## ----- SIP | TCP/TLS
#!substdef "!KAMAILIO_TLS_PORT!50603!g"

## -----JSONRPC | TCP
#!substdef "!KAMAILIO_JSONRPC_PORT!50604!g"

## ----- DB config
#!substdef "!DBURL_REP!postgres://kamailio:secret_password@localhost:5432/kamailio!g"
#!define DBURL "DBURL_REP"

## ----- RTPEngine
## set listen interface and port
#!substdef "!RTPENGINE_IP_PORT_SUB!udp:localhost:2223!g"
#!define RTPENGINE_IP_PORT "RTPENGINE_IP_PORT_SUB"

## ----- SMART-YARD
## ----- AUTH API URL
## set valid kamailio auth api url. See to Smart-Yard-Server config 'server/config/config.json' section 'api'
#!define KAMAILIO_API_AUTH_URL "https://smart-yard-server/kamailio/subscribers"

## ----- AUTH API Token
## set Kamailio API token, See to Smart-Yard-Server config 'server/config/config.json' section 'sip'
#!define KAMAILIO_API_AUTH_TOKEN "EXAMPLE_KAMAILIO_API_AUTH_TOKEN"

## -----
## set Smart-Yasrd ip address allowed to JSON RPC call
#!define SMARTYARD_SERVER_ADDRESS "192.168.13.84"



## ----- ASYNC_WORKERS
#!define ASYNC_WORKERS 8
#!define ASYNC_WORKERS_GROUP "name=abc;workers=4;nonblock=0;usleep=0"

## ----- Server info
#!define SERVER_HEADER "Server: RBT-SBC"
#!define USER_AGENT_HEADER "User-Agent: RBT-SBC"