#!KAMAILIO example conf
#
#!define WITH_DEBUG

#!define DBURL "postgres://kamailio:secret_password@localhost:5432/kamailio"


####### Include Local Config If Exists #########
import_file "kamailio-local.cfg"

### LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR
#!ifdef WITH_DEBUG
debug=DEBUG_LEVEL
log_stderror=yes
#!else
debug=2
log_stderror=no
#!endif

memdbg=5
memlog=5

log_facility=LOG_LOCAL0

/* number of SIP routing processes */
children=8

####### Defined Values #########

####### Routing Logic #######
import_file "kamailio-routing.cfg"